h1 {
    text-align: center;
    background-color: red;
}

#cart {
    display: flex;
    justify-content: center;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.column {
    width: 18%;
    padding: 25px 25px;
}

body{
    background-color:green;
}

#images img {
    display: block;
    height: 200px;
    width: 200px;
    margin: 0px;
}

#songs p {
    display: flex;
    font-size: 25px;
    width: 60px;
    height: 150px;
    font-weight: bold;
    margin: 50px;
}

#artists p {
    display: flex;
    font-size: 25px;
    width: 60px;
    height: 150px;
    font-weight: bold;
    margin: 50px;
}

#lengths p {
   display: flex;
    font-size: 25px;
    width: 60px;
    height: 150px;
    font-weight: bold;
    margin: 50px;
}

#links a {
    display: flex;
    font-size: 25px;
    width: 60px;
    height: 150px;
    font-weight: bold;
    margin: 50px;
}
#new{
    color:white;
    font-weight: bold;
}

#form {
    width: 75%;
    margin: 0 auto 20px auto;
    font-size: 18px;
}

input {
    padding: 5px 10px;
    font-size: 14px;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}
